doctype 5
html.mod-space
   head
      title NodeShooter with Paper
      link(rel="stylesheet", href="modules/space/space.css")
      
      script(src='js/jquery-1.10.2.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="js/paper.js") 


   body
    canvas(id="space", resize="true")
    script(type="text/paperscript", src="js/app.js", canvas="space")