doctype 5
html.mod-space
   head
      title NodeShooter
      script(src='js/jquery-1.10.2.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="js/app.js")
      link(rel="stylesheet", href="modules/space/space.css")
      
      link(rel="stylesheet", href="modules/ship/ship.css")
      script(src="modules/ship/ship.js")
      
      link(rel="stylesheet", href="modules/shot/shot.css")
      script(src="modules/shot/shot.js")

   body