doctype 5
html.mod-space
   head
      title NodeShooter
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="js/terrific-2.0.1.js")
      script(src="js/script.js")
      link(rel="stylesheet", href="modules/ship/style.css")
      link(rel="stylesheet", href="modules/space/style.css")
      script(src="modules/ship/script.js")

   body