@media all {
	.mod-ship {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}

    .mod-ship.move-left {
        transform:rotate(-90deg);
        -ms-transform:rotate(-90deg); /* IE 9 */
        -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    }
    
    .mod-ship.move-right {
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }
    
    .mod-ship.move-down {
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
    }
    
    .mod-ship.move-up {
        transform:rotate(180deg);
        -ms-transform:rotate(180deg); /* IE 9 */
        -webkit-transform:rotate(180deg); /* Safari and Chrome */
    }
    
    .mod-ship span {
        position: absolute;
        width: 200px;
        bottom: -15px;
        left: -85px;
        color: #ddd;
        font-size: 10px;
        text-align: center;
    }
    
    .mod-ship i{
        position: absolute;
        display: block;
        background: #bbb;
        left: 0;
        height: 10px;
    }
    .mod-ship i:nth-child(3) {
        bottom: 0;
        width: 100%;
    }
    .mod-ship i:nth-child(2) {
        bottom: 10px;
        left: 7.5px;
        width: 15px;
    }
    .mod-ship i:nth-child(1) {
        top: 0;
        left: 12.5px;
        width: 5px;
    }
    .mod-ship-own i {
        background: #6A7E99;
    }
    .mod-ship-own span {
        color: #6A7E99;
    }
}
